<div class="text">
    Welcome Wheelchair
</div> 

<div class="buttons">
    <button class="btn1"><a class="btn1-link" href="#">Register</a></button>
    <button class="btn2"><a class="btn2-link" href="#">Login</a></button>
</div>